MARIADB_IMAGE=mariadb:10.11
DB_HOST=localhost
DB_PORT=3306
DB_NAME=home_inventory
DB_USERNAME=home_inventory
DB_PASSWORD=home_inventory
DB_ROOT_PASSWORD=home_inventory_root
DB_DATA_PATH=./.local/mariadb-data
